application=Journaling

db-subprotocol=postgresql
db-subname=//localhost:5432/pxprss
db-host=localhost
db-port=5432
db-name=pxprss
db-user=postgres
db-password=postgres

#email
send-email-official-name=Journaling
send-email-official=year.ninety@outlook.com
send-email-official-pass=#D3rp13^^VV
send-email-official-port=587

#newpass=postgr+321s