<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="author" content="Journaling">
    <meta name="description" content="Journaling">
    <title>Journaling</title>
    <link rel="stylesheet" href="/js/journal.css" />
</head>
<body>
<div id="wrapper">

    <form id="frm-journal" class="frm-journal" method="post" action="">

        <div id="margin">Title: <input id="title" type="text" name="title"></div>
        <textarea placeholder="What are your thoughts today?" id="text" name="text" class="txtarea" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
        <br>
        <input id="button" type="button" value="Create" class="btn-create-journal">

    </form>
</div>
<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
<script src="js/journal.js"></script>

</body>
</html>