<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme13.css">
</head>
<body>
<div class="form-body" class="container-fluid">
    <div class="website-logo">
        <a href="/">
            <div class="logo">
                <img class="logo-size" src="images/logo-light.svg" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder ">
            <div class="bg"></div>
            <div class="info-holder">
                <h3>Keep Journaling</h3>
                <p>Logging Out...</p>
            </div>
        </div>
        <div class="form-holder hide">
            <div class="form-content">
                <div class="form-items">
                    <div class="page-links">
                        <a href="/login" class="active">Login</a><a href="/register">Register</a>
                    </div>
                    <form method="post" class="frm-login" action="#">
                        <input class="form-control uname" type="text" name="username" placeholder="E-mail Address" required>
                        <input class="form-control password" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="btn-login" type="button" class="ibtn btn-login">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="js/account.js"></script>

<script >
/*    document.querySelector('.form-holder').style.marginLeft =  "0";
    document.querySelector('.form-items').style.maxWidth =  "500px";
    document.querySelector('.website-logo').style.top =  "50px";
    document.querySelector('.website-logo').style.left =  "50px";
    document.querySelector('.website-logo').style.right =  "initial";
    document.querySelector('.website-logo').style.bottom =  "initial";
    document.querySelector('.website-logo').style.display =  "inline-block";*/
    setTimeout(function(){
    location.reload();
}, 2000);

</script>
</body>
</html>